{# templates/product/productInsert.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Erstelle Produkt{% endblock %}

{% block body %}
<div class="container text-light">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5">Erstelle ein neues Produkt</h1>
        </div>
        <div class="col-12">
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <div class="fs-5 fw-bold">
                    Sie können erst ein Produkt erstellen, sobald sie alle Pflichtfelder korrekt ausgefüllt haben
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            {{ form_start(productForm) }}
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="mb-3">
                    {{ form_label(productForm.title, null, {'label_attr': {'class': 'fs-4'}}) }}
                    {{ form_widget(productForm.title, {'attr': {'class': 'p-3 fs-5', 'product-form-field': 'title', 'placeholder': 'Produktname'}}) }}
                    {{ form_errors(productForm.title) }}
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="mb-3">
                  {{ form_label(productForm.price, null, {'label_attr': {'class': 'fs-4'}}) }}
                  {{ form_widget(productForm.price, {'attr': {'class': 'p-3 fs-5', 'product-form-field': 'price', 'placeholder': 'Preis'}}) }}
                  {{ form_errors(productForm.price) }}
                </div>
              </div>
            </div>       
           
            
            <div class="mb-3">
                {{ form_label(productForm.description, null, {'label_attr': {'class': 'fs-4'}}) }}
                {{ form_widget(productForm.description, {'attr': {'class': 'p-3 fs-5', 'product-form-field': 'description', 'placeholder': 'Beschreibung'}}) }}
                {{ form_errors(productForm.description) }}
            </div>            
           
            
            <div class="mb-3">
                <label for="product_pictures" class="fs-4">Produktbilder* <span class="fs-5">(mindestens 3 Bilder notwendig)</span></label>
                <div id="product_pictures">
                    {{ form_widget(productForm.productPictures) }}
                </div>
                <button type="button" id="add_product_picture" class="btn btn-secondary mt-2">Weitere Bilder</button>
                <div id="picture_errors" class="text-danger mt-2"></div>
            </div>
            
            <!-- Submit-Button -->
            <div class="d-grid">                
                {# <button type="submit" id="submit_button" class="btn btn-primary mt-2 p-3 fs-4" disabled>Produkt erstellen</button> #}
                <button type="button" id="submit_button" class="btn btn-primary mt-2 p-3 fs-4" disabled data-bs-toggle="modal" data-bs-target="#confirmationModal">
                    Produkt erstellen
                </button>
            </div>

            <!-- Popup -->
            <div id="success-popup" class="popup-message" >
                <div class="popup-content">
                    <span class="popup-close" id="close-popup">&times;</span>
                    <p>Sie können nun das Produkt erstellen!</p>
                </div>
            </div>

            {{ form_end(productForm) }}
        </div>
    </div>
    {% include 'product/partials/insertProductQueryBox.html.twig' with {
        title: 'Bestätigung',
        message: 'Sind Sie sicher, dass Sie dieses Produkt erstellen möchten?',
        cancelText: 'Abbrechen',
        confirmText: 'Produkt erstellen'
    } %} 
</div>
{% endblock %}