{% block body %}
<div class="container position-absolute z-2 bg-light editForm" style="right: -65%;">
    <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center mb-5">
          <h1 class="text-center mx-auto mt-4">Editiere das Produkt</h1>
          <p class="fs-1 fw-bold me-3 mb-0 showProductEditForm" role="button">x</p>
      </div>
        <div class="col-12">
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <div class="fs-5 fw-bold">
                    Sie können erst ein Produkt editieren, sobald Eine Änderung erfolgt ist
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
         {% if product %}
       
            {{ form_start(editProductForm) }}
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                    {{ form_label(editProductForm.title, null, {'label_attr': {'class': 'fs-4'}}) }}
                    {{ form_widget(editProductForm.title, {'attr': {'class': 'p-3 fs-5', 'product-form-field': 'title', 'placeholder': 'Produktname'}, 'value': product.title}) }}
                    {{ form_errors(editProductForm.title) }}
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  {{ form_label(editProductForm.price, null, {'label_attr': {'class': 'fs-4'}}) }}
                  {{ form_widget(editProductForm.price, {'attr': {'class': 'p-3 fs-5', 'product-form-field': 'price', 'placeholder': 'Preis'}, 'value': product.price}) }}
                  {{ form_errors(editProductForm.price) }}
                </div>
              </div>
            </div>       
           
            
            <div class="mb-3">
                {{ form_label(editProductForm.description, null, {'label_attr': {'class': 'fs-4'}}) }}
                {{ form_widget(editProductForm.description, {'attr': {'class': 'p-3 fs-5', 'product-form-field': 'description', 'placeholder': 'Beschreibung'}, 'value': product.description}) }}
                {{ form_errors(editProductForm.description) }}
            </div>            
           
            
            <div class="mb-3">
                <label for="product_pictures" class="fs-4">Produktbilder* <span class="fs-5">(mindestens 3 Bilder notwendig)</span></label>
                <div id="product_pictures">
                    <div id="product_form_productPictures" data-prototype="
                        <div class='mb-2 d-flex align-items-center'>
                            <input type='text' 
                                id='product_form_productPictures___name___picturePath' 
                                name='product_form[productPictures][__name__][picturePath]' 
                                placeholder='Bild-URL hier einfügen' 
                                class='form-control' />
                        </div>
                    ">
                    {% for pictureForm in editProductForm.productPictures %}
                        <div class="mb-2 d-flex align-items-center">
                            {{ form_widget(pictureForm.picturePath, {'attr': {'class': 'form-control', 'placeholder': 'Bild-URL hier einfügen'}, 'value': product.productPictures[loop.index0].picturePath}) }}
                            {# Zeige das Bild an, wenn es eine Bild-URL gibt #}
                            {% if product.productPictures[loop.index0] is defined and product.productPictures[loop.index0].picturePath %}
                                <img src="{{ product.productPictures[loop.index0].picturePath }}" alt="Produktbild" class="img-thumbnail ms-2" style="width: 100px; height: 100px;">
                            {% else %}
                                <img src="/path/to/default-image.jpg" alt="Kein Bild" class="img-thumbnail ms-2" style="width: 100px; height: 100px;">
                            {% endif %}                  
                            <button type="button" class="btn btn-danger btn-sm ms-2 remove-picture" data-id="none">Löschen</button>
                      
                        </div>
                    {% else %}
                        <p>Keine Bilder vorhanden.</p>
                    {% endfor %}
                    
                    </div>
                </div>
                <button type="button" id="add_product_picture" class="btn btn-secondary mt-2">Weitere Bilder</button>
                <div id="picture_errors" class="text-danger mt-2"></div>
            </div>
            
            <!-- Submit-Button -->
            <div class="d-grid mb-4 d-flex gap-4 w-100">                
                {# <button type="submit" id="submit_button" class="btn btn-primary mt-2 p-3 fs-4" disabled>Produkt erstellen</button> #}
                <button type="button" id="submit_button" class="btn btn-primary mt-2 p-3 fs-4 w-100" disabled data-bs-toggle="modal" data-bs-target="#confirmationModal">
                    Produkt editieren
                </button>
                <button type="button" id="submit_button" class="btn btn-warning mt-2 p-3 fs-4 w-100 resetEditForm">
                    Reset
                </button>
            </div>

            {{ form_end(editProductForm) }}
         {% endif %}
        </div>
    </div>
</div>
{# Form speichern für die Resett Funktionalität #}
<div id="productData"
     data-title="{{ product.title|e('js') }}"
     data-price="{{ product.price }}"
     data-description="{{ product.description|e('js') }}"
     data-pictures='[
         {% for picture in product.productPictures %}
             "{{ picture.picturePath }}"{% if not loop.last %}, {% endif %}
         {% endfor %}
     ]'>
</div>
{% include 'product/partials/insertProductQueryBox.html.twig' with {
        title: 'Bestätigung',
        message: 'Sind Sie sicher, dass Sie dieses Produkt editieren möchten?',
        cancelText: 'Abbrechen',
        confirmText: 'Produkt editieren'
 } %}  
{% endblock %}