{% extends 'base.html.twig' %}

{% block title %}Shop | {{controller_name}} {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5">{{ controller_name }}</h1>
        </div>
    </div>
    <div class="row justify-content-center">
         <input type="hidden" name="token" value="{{ csrf_token('authenticate') }}">
        <div class="col-6">
            {{ form_start(resetForm) }}        

            <div class="mb-3 position-relative">
                {{ form_label(resetForm.password, 'Neues Passwort:', {'label_attr': {'class': 'fs-4'}}) }}                
                <div class="input-group">
                    {{ form_widget(resetForm.password, {'attr': {'class': 'p-3 form-control fs-5', 'changepassword-form-field': 'password', 'placeholder': 'Dein Passwort'}}) }}
                    <p type="button" class="position-absolute top-50 end-0 translate-middle-y me-2 toggle-password-visibility" style="z-index: 200;">
                        <i id="eye-icon-pw" class="bi bi-eye" style="font-size: 2rem;"></i>
                    </p>
                </div>                
                {{ form_errors(resetForm.password) }}
            </div>
            <div class="mb-3 position-relative">
                {{ form_label(resetForm.passwordRepeat, null, {'label_attr': {'class': 'fs-4'}}) }}                
                <div class="input-group">
                    {{ form_widget(resetForm.passwordRepeat, {'attr': {'class': 'p-3 form-control fs-5', 'changepassword-form-field': 'passwordRepeat', 'placeholder': 'Dein Passwort wiederholen'}}) }}
                    <p type="button" class="position-absolute top-50 end-0 translate-middle-y me-2 toggle-password-visibility" style="z-index: 200;">
                        <i id="eye-icon-pwwdh" class="bi bi-eye" style="font-size: 2rem;"></i>
                    </p>
                </div>                
                {{ form_errors(resetForm.passwordRepeat) }}
            </div>            
            <!-- Submit-Button -->
            <div class="d-grid">
                <button type="submit" class="btn btn-primary p-3 fs-4" changepassword-form-field="submitButton">Senden</button>
            </div>
            <!-- Allgemeine Fehlermeldungs Container Frontend -->
            <div class="form-error-container mt-2 fs-5">
                {% if resetForm.generalError.vars.errors|length > 0 %}
                 {{ form_errors(resetForm.generalError) }}
                {% endif %}
            </div>  

            {{ form_end(resetForm) }}
        </div>
    </div>
</div>
{% endblock %}